{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'landingPage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
</head>
<body style="background-image: url('{{ fondo_url }}'); background-size: cover; background-position: center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="d-flex align-items-center">
                    <img src="{% static 'logo.png' %}" alt="Logo" width="32" height="30" class="d-inline-block align-text-top mr-2">
                    <h2 class="mb-0">Serenity Space</h2>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="principal">
        <img src="{% static 'personaSentada.png' %}" class="rounded float-start" alt="personaSentada">
        <div class="texto">
            <h1 class="title">
                Subscribe to <br> Our Newsletter
            </h1>
            <p class="contenido">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, cumque! Asperiores officiis consequatur ratione mollitia ab quas impedit. Aspernatur vitae sint incidunt suscipit explicabo quia sequi saepe, asperiores enim commodi.
                Rem deleniti eaque nobis obcaecati corrupti optio laudantium pariatur. Accusamus vero nostrum culpa incidunt explicabo, rerum consequatur quisquam dolorem ullam esse alias reiciendis deleniti exercitationem? Exercitationem neque similique quod. Optio?
            </p>
            <p class="contenido">
                Get our latest updates with the lastest info
            </p>
            <form action="{% url 'landing_page' %}" method="post">
                {% csrf_token %}
                <div class="email">
                    <input class="input" type="text" name="email" placeholder="Your Email" required>
                    <button class="button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
